<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Avenue Auto Wrecking</title>
</head>

<body class="text-center">

    <link href="../resources/css/cover.css" rel="stylesheet">




    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead ">
            <div class="inner">
                <!-- <h3 class="masthead-logo">Avenue Auto Wrecking</h3> -->
                <img src="/resources/images/aa.jpg" alt="">
                <hr>
                <nav class="navbar navbar-expand-md navbar-light justify-content-center">
                    <a class="nav-link btn btn-outline-danger active" href="/views/index.html">Home</a>
                    <a class="nav-link btn btn-outline-danger " href="/views/products.html">Products</a>
                    <a class="nav-link btn btn-outline-danger " href="/views/feedback.html">Feedback</a>

                    <a class="nav-link btn btn-outline-danger " href="/views/about.html">About</a>
                    <a class="nav-link btn btn-outline-danger " href="/views/search.html">Search</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">

            <hr>
            <img src="/resources/images/index.htm_cmp_auto010_bnr.gif" alt="">

            <hr>
            <p class="">
                Welcome to Avenue Auto Wrecking's web page. Here you'll find links to our eBay auctions, and our eBay store, as well as special's that are specific to our web page. Thanks, and please email or call us with any questions!</p>
            <hr>
            <h4>Our Mission</h4>
            <p class="">
                Avenue Auto Wrecking's mission is to provide an economical source of quality OEM new and used parts for lovers of European cars. We specialize in Saab, Volvo, Audi, Volkswagen, BMW, Mercedes-Benz, and Porsche. If you need a part for a car from one of
                these fine manufacturer's we either have it or can get it, both new and used. We also specialize in slightly damaged European rebuilders that we often have most or all of the parts needed to rebuild them.
            </p>
            <p class="">
                <form action="http://maps.google.com/maps" method="get" target="_blank">

                    <input type="text" hidden name="saddr" />
                    <input type="hidden" name="daddr" value="Avenue Auto Wrecking, 2500 Manchester Trafficway, Kansas City, MO 64129" />
                    <input class="btn btn-secondary" type="submit" value="Get directions" />
                </form>
            </p>
            <a href="/views/racing.html">
                <img src="/resources/images/racinglogo.gif" alt="AAW LOGO" height="" width=" 300 px">
            </a>

        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Looking for our eBay store ? <a href="https://www.eBay.com/">click here</a></a>.</p>
            </div>
        </footer>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>