<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Avenue Auto Products</title>
</head>

<body class="text-center">

    <link href="../resources/css/cover.css" rel="stylesheet">




    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead ">
            <div class="inner">
                <!-- <h3 class="masthead-logo">Avenue Auto Wrecking</h3> -->
                <img src="/resources/images/aa.jpg" alt="">
                <hr>
                <nav class="navbar navbar-expand-md navbar-light justify-content-center">
                    <a class="nav-link btn btn-outline-danger " href="/views/index.html">Home</a>
                    <a class="nav-link btn btn-outline-danger active" href="/views/products.html">Products</a>
                    <a class="nav-link btn btn-outline-danger " href="/views/feedback.html">Feedback</a>

                    <a class="nav-link btn btn-outline-danger " href="/views/about.html">About</a>
                    <a class="nav-link btn btn-outline-danger " href="/views/search.html">Search</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">

            <hr>
            <img src="/resources/images/products.htm_cmp_auto010_bnr.gif" alt="">

            <hr>
            <p class="">
                All of our product specials are listed here periodically. Come back and check out this page for unique offers. Thanks.
            </p>

            <p>
                If you have any questions or need help finding a part, please feel free to contact us, at any of the ways listed below. Thank you very much and have a wonderful day!
                <address class="text-center">
                <strong>
                    Telephone :
                </strong> <p>816-861-5055</p>
                <strong>
                    Fax :
                </strong> <p>816-861-3047</p>
                <strong>
                    Postal Address :
                </strong> <p>
                    2500 Manchester Kansas City, MO 64129
                </p> 
                <strong>
                    E-Mail General Information:
                </strong> <p>
                    avenueautowrecking@yahoo.com
                </p> 
                <strong>
                    E-Mail Sales:
                </strong> <p>
                    luke@avenueautoparts.com 
                </p> 
                <strong>
                    E-Mail Customer Support Webmaster:
                </strong> <p>
                    avenueautowrecking@yahoo.com
                </p> 

            </address>
            </p>
            <hr>

            <p class="lead">
                <form action="http://maps.google.com/maps" method="get" target="_blank">

                    <input type="text" hidden name="saddr" />
                    <input type="hidden" name="daddr" value="Avenue Auto Wrecking, 2500 Manchester Trafficway, Kansas City, MO 64129" />
                    <input class="btn btn-secondary" type="submit" value="Get directions" />
                </form>
            </p>
            <img src="/resources/images/racinglogo.gif" alt="AAW LOGO" height="" width=" 300 px">
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Looking for our eBay store ? <a href="https://www.eBay.com/">click here</a></a>.
                </p>
                <p>


                    Send mail to <a href="mailto:avenueautowrecking@yahoo.com">avenueautowrecking@yahoo.com</a> with questions or comments about this web site.<br> Last modified: Today

                </p>
            </div>
        </footer>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>